{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h5>Edit post:</h5>
{% endblock page_header %}

{% block content %}

    <form class="form" action="{% url 'blogs:edit_post' post.id %}" method='post'>
        {% csrf_token %}
        <label class="form-label" for="id_title">Blog Title</label>
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-success" name="submit">Save changes</button>
        {% endbuttons %}
    </form>
{% endblock content %}